<launch>
    <arg name="save_traj" default="0"/>
 
    <node pkg="vloam_main" type="vloam_main_pose" name="vloam_main_pose" output="screen">
        <param name="rosbag_rate" type="double" value="0.5" />
        <param name="visualize_depth" type="bool" value="false" />
        <param name="publish_point_cloud" type="bool" value="true" />
    </node>
    
    <include file="$(find aloam_velodyne)/launch/aloam_velodyne_HDL_64_kitti.launch" />

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find vloam_main)/rviz/vloam.rviz" />
    

    <group if="$(eval arg('save_traj') ==1)">
        <node pkg="vloam_main" type="odometryEvaluate" name="odometryEvaluate" output="screen">
            <param name="lidar_odom_filename" type="string" value="$(find vloam_main)/results/seq5/lo" />
            <param name="visual_odom_filename" type="string" value="$(find vloam_main)/results/seq5/vo" />
            <param name="map_odom_filename" type="string" value="$(find vloam_main)/results/seq5/mo" />
        </node>
    </group>

</launch>